<header class="mb-auto">
    <div>
      <h1 class="float-md-start justify-content-center "><a class="head-rose" href="/">schwarzp53n</a></h1>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link text-white" href="/">🏴‍☠️</a>
        <a class="nav-link text-white" href="/psatls">Monitoring</a>
        <a class="nav-link text-white" href="/posts">Blog</a>
        <a class="nav-link text-white" href="/about">About</a>
      </nav>
    </div>
</header>
